// @SharryHong

@import helper/variables
@import base/normalize
@import base/grid
@import base/common
@import base/typography
@import module/button
@import module/triangle

@import page/index

body
	background-color: $base-bg

header
	height: 110px
	line-height: 110px
	color: #fff
	background-color: $main-color
	h1
		margin-top: 0
		text-align: center

.form-title
	font-size: 1rem
	font-weight: normal
	color: $gray-color

.fa-question-circle
	vertical-align: middle
	color: $sub-color