$width: 250px;
$lagoon-blue: fade-out(#62fdca, 0.5);


.math {
  width: $width;
  height: $width/6;
  line-height: $width/6;
  font-size: $width/6/2;
  text-align: center;
  border-radius: $width/30;
  background-color: $lagoon-blue;
  color: red + blue;
}